<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seetong.app.seetong" >

    <application
        android:name=".SeetongApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".gui.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".gui.MainActivity" />

        <activity android:name=".gui.RegisterActivity" />

        <activity android:name=".gui.AlarmActivity" />

        <activity android:name=".gui.AboutActivity" />

        <activity android:name=".gui.SettingActivity" />

    </application>

</manifest>
